/* ARTISTS SECTION */
.info-container {
  position: sticky;
  top: 45px;
  min-width: 300px;
  max-width: 600px;
  padding-bottom: 15px;
  padding-bottom: calc(70vh + 15px);
  .artists-list {
    position: absolute;
    margin-top: 20px;
    li {
      font-size: 1.2em;
      text-align: left;
      line-height: 1.7em;
    }
  }
}
.artists-collage {
  background: url(../assets/images/grid.png);
  position: relative;
  z-index: 5;
  background-color: white;
  //   margin: 0 4em;
  //   height: 120vh;
  &:hover {
    cursor: url("../assets/images/cursor-red.svg"), auto;
  }
  .collage-draw {
    vertical-align: bottom;
    width: 100% !important;
    height: 100% !important;
  }
}

.second {
  position: relative;
}

// img {
//   position: absolute;
//   top: 200px;
//   left: 200px;
//   transform: translate(-50%, -50%) scale(0.8);
// }
