.head {
  text-transform: uppercase;
  font-size: 1.6em;
  line-height: 1.1em;
}

p,
dl,
ul {
  padding: 26px 15px 0;
}

.heading-outer {
  width: 200px;
}

.info-container {
  position: sticky;
  top: 45px;
  min-width: 300px;
  max-width: 600px;
  padding: 0 0 15px 20px;
  padding-bottom: calc(70vh + 15px);
}

.descrip,
.poup {
  padding: 30px 0 0 15px;
}

.artist-residence-heading {
  padding-top: 30px;
}

ul,
li {
  list-style-type: none;
}

ol,
ul {
  list-style: none;
}

ul > li {
  font-size: 120px;
  line-height: 1.3;
  text-align: right;
}

li a {
  color: #fff;
}

li a:hover {
  cursor: pointer;
  color: #000;
  -webkit-text-stroke: 2px #fff;
}
