#hero-section {
  padding-top: 46px;
  .container {
    .hero-info-container {
      padding-top: 32px;
      .sub-head {
        padding-top: 0;
        margin-top: 10px;
      }
    }
  }
}

/* home page container */
#s1 {
  height: 100vh;
  padding-top: 45px;
}

section {
  display: flex;
}

/* container home circles section */
.container {
  border-bottom: 1px dotted #000;
  border-right: 1px dotted #000;
}
