@import "media-queries";
@import "variables";
@import "fonts";
@import "hero";
@import "gallery";
@import "menu";
@import "keyframes";
@import "columns";
@import "circles";
@import "artists-collage";
@import "about";
@import "base";

html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "NB Akademie Std";
  -webkit-font-smoothing: antialised;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  //   background-color: #fff;
  margin: 0;
  padding: 0;
  letter-spacing: normal;
  overflow-x: hidden;
  &.inverted {
    color: #fff;
    background-color: #0f0f0f;
  }
}

a {
  text-decoration: none;
  color: #000;
  &:hover {
    cursor: pointer;
  }
}

p,
dl,
ul {
  padding: 26px 15px 0;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background: #ffdc00;
  cursor: pointer;
  transition: all 1s ease;
}

::-webkit-scrollbar-track {
  background: transparent;
}

ul,
li {
  list-style-type: none;
}

ol,
ul {
  list-style: none;
}

ul > li {
  font-size: 120px;
  line-height: 1.3;
  text-align: right;
}

li a {
  color: #fff;
}

li a:hover {
  cursor: pointer;
  color: #000;
  -webkit-text-stroke: 2px #fff;
}

.container {
  border-bottom: 1px dotted #000;
  border-right: 1px dotted #000;
}

section {
  display: flex !important;
}

/* HEADING TEXT */

.heading-outer {
  width: 200px;
}

.info-container {
  position: sticky;
  paxdding-right: 30px;
  top: 45px;
  toxp: 30vh;
  min-width: 300px;
  max-wixdth: 600px;
  padding-bottom: 15px;
  paddxing-bottom: calc(70vh + 15px);
}

.second {
  position: relative;
}

p.sub-head {
  position: absolute;
  margin-top: 20px;
  padding-top: 0px;
  font-size: 1.5em;
}

/* manifesto section */
.manifesto-section-container {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow: hidden;
}

.blue-ellipse {
  width: 100%;
  height: auto;
}

img.blue-ellipse-inner {
  transform: translate(-50%, -50%) scale(0.6) !important;
  display: block;
  outline: none;
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
}

.manifesto-inner-wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
  z-index: 5;
}

.manifesto-inner-wrapper p {
  font-size: 42px;
  text-align: center;
  margin: 0;
}

.globe {
  position: absolute;
  transform: translate(-45%, -33%) scale(0.2);
  display: flex;
  top: 0%;
  left: 85%;
  height: 100%;
  z-index: 5;
}

/* mouse print */
.mouse-container {
  position: absolute;
  top: 0;
  left: 0;
}

.mouse-print {
  position: absolute;
  top: 10;
  left: 10;
  width: 30px;
  height: 30px;
  /* background-color: rgba(255,255,0, 1); */
  border-radius: 100px;
  z-index: -1;
  -webkit-animation: mouseFadeOut 2s linear;
  animation: mouseFadeOut 2s linear;
  z-index: 3;
  /* be invisible for any mouse event */
  pointer-events: none;
}

/* artist one section */
.vert {
  display: flex;
  flex-flow: column;
}

.descrip {
  min-width: 300px;
  padding-right: 25px;
}

.row {
  display: flex;
  flex-flow: row;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px dotted #000;
}

.row .container {
  border: 0;
}

.descrip p {
  max-width: 28em;
}

.artist-body-descrip,
.contact-body-descrip {
  margin: 5px 0 25px;
}

.vert .row {
  border: 0;
}

.iframe-container {
  margin: 20px 0 0 15px;
}

iframe {
  width: 90%;
}

.img-container img,
.img-container iframe {
  width: 100%;
  padding: 15px 15px 0 15px;
}

.w100 {
  width: 100%;
}

.container .image-container:first-child {
  margin-top: 80px;
}

.artist-list {
  position: relative;
  top: 0px;
  left: 0px;
  transform: translate(0%) scale(1);
}

.img-last-section {
  margin-bottom: 20px;
}

/* CONTACT SECTION */

p.sub-head-intro {
  font-size: 1.1em;
  text-transform: none;
  line-height: 1.5em;
}

.contact-section-container {
  background-color: #000;
}

.white {
  color: #fff;
}

.contact-body-descrip {
  color: #fff;
}

.bg-blk-link {
  color: #fff;
}

.bg-blk-link:hover {
  transform: scaleX(-1);
  cursor: pointer;
}

/* bye message */
.bye-container {
  margin-top: 180px;
}

/* bye message font-styling */
.bye-title {
  font-size: 23.47222vw;
  line-height: 19.86111vw;
  letter-spacing: -0.05em;
  color: #fff;
  text-transform: uppercase;
  -webkit-text-stroke: 2px #fff;
  color: transparent;
}

.bye-title span {
  display: block;
}

.row-1 {
  margin-left: 40%;
}

.row-2 {
  margin-top: 36px;
}

.row-3 {
  margin-top: 36px;
  margin-left: 30%;
}

/* back-to-top link */

.footer-container {
  height: 332px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.footer-top {
  position: relative;
  left: 20%;
  text-align: center;
  width: 9.86111vw;
  height: 14.86111vw;
  margin: 0 auto;
  cursor: pointer;
}

.footer-top-arrow {
  font-size: 10.97222vw;
  line-height: 16.88889vw;
  top: 0;
  font-family: "NB Akademie Std";
  -webkit-text-stroke: 2px #fff;
  color: transparent;
}

.footer-top-arrow,
.footer-top-line {
  position: absolute;
  left: 0;
  width: 100%;
  pointer-events: none;
}

.footer-top-line {
  bottom: 18px;
  height: 0.48611vw;
  border: 1px solid #fff;
}
